#**List is a collection of inhetrogenous data types.**
List is mutable, So slicing and indexing can be used in list.

List are written within square brackets [ ].

#   **Methods Of Lists.**

In [2]:
List = [10,20,10.5,"hello",True]
List

[10, 20, 10.5, 'hello', True]

In [8]:
List.append(30) # .append(elem) is used to add the values in the list. It will add the values from the last index.
List

[10, 20, 10.5, 'hello', True, 30]

In [9]:
List.remove("hello") # .remove(elem) is used remove the values from the list. It will remove the values from the last index.
List

[10, 20, 10.5, True, 30]

In [13]:
List.insert(3,"Hello") # .insert(index, elem) is also used to add the values in the list just like append but, insert is used to insert the values at certain index.
List

[10, 20, 10.5, 'Hello', True, 30]

In [18]:
List.pop(1) # .pop(index) is used to remove values at certain index.
List

[10, 10.5, 'Hello', True, 30]

In [19]:
List2 = ["World",True,445,33.9]
List2

['World', True, 445, 33.9]

In [31]:
List.extend(List2) # .extend(list2) is used to merge two lists in one.
List

[10, 10.5, 'Hello', True, 30, 'World', True, 445, 33.9]

In [34]:
List2.clear # .clear is used to remove all the elements from the list
List2

[]

In [39]:
Alphabets = ["f","i","m","a","v","n","b","c","g"] # .sort() is used arrange the elements in Ascending order. It can be Number, Alphabetical or string etc.
Alphabets.sort()
Alphabets

['a', 'b', 'c', 'f', 'g', 'i', 'm', 'n', 'v']

In [40]:
Alphabets_rev = ["f","i","m","a","v","n","b","c","g"] # .reverse() is used to reverse the elements according to descending order.
Alphabets_rev.reverse()
Alphabets_rev

['g', 'c', 'b', 'n', 'v', 'a', 'm', 'i', 'f']

In [41]:
Repeat = [10,20,30,[1,2,3],30,40,50] # .count(elem) is used to find out the values which are repeated in the list.
Repeat.count(30)

2

In [42]:
New = [10, "my", 10.5 ,"name", True] # .copy() is used to return a shallow copy of the list.
New.copy()

[10, 'my', 10.5, 'name', True]